:root{
  --cor-primaria: #3498db;
  --cor-secundaria: 
  --cor-secundaria: #2ecc71;
  --cor-fundo: #ecf0f1;
  --cor-texto: #333;
}



body{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--cor-fundo)
  ;
  font: size 18px;
  transition: background-color 0.3s ease;/*Transição suave para a mudança de cor de fundo*/
}
.menu-lateral{
    width: 300px;/* Largura do menu lateral*/
    height: 100%;/* Altura total da tela*/
    background-color:darkslategray;/* Cor de fundo do menu*/
    position: fixed;/*Fixa o menu na lateral da tela*/
    top: 0;/*Posição do topo do menu*/
    left: -300px;/*Posição inicial do menu (fora da tela)*/
    z-index: 5;/*Garante que o menu fique acima de outros elementos*/
    box-shadow: 0 0 10px rgba(58, 57, 57, 0.01);/*Sombra para dar profundidade ao menu*/
    
}
.menu-lateral.ativo{
    left: 0;/*Posição do menu quando ativo (visível)*/
}
.menu-lateral ul{
    list-style: none;/*Remove os marcadores da lista*/
    padding: 0;
margin-top: 60px;
   
}
.menu-lateral ul li{
    padding: 15px 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;/*Transição suave para o efeito de hover*/
}
.menu-lateral ul li:hover{
    background-color: var(--cor-primaria);
  width: 150px;
    border-radius: 5px;
}
.menu-lateral ul li a{
   
    color: var(--cor-fundo);
    text-decoration: none;
    font-size: 15px;
    display:flex;
    align-items: center;
    transition: background-color 0.3s ease;/*Transição suave para o efeito de hover*/
}
.menu-lateral ul li a i{
   padding: 5px;
    font-size: 15px;/*Tamanho do ícone*/
    margin-right: 10px;/*Espaçamento entre o ícone e o texto*/
}
.menu-lateral ul li a i:hover{

    transform: translateX(5px) rotate(5deg);
}   
.botao-menu{
    position: fixed;/*Fixa o botão na tela*/
    top: 20px;/*Posição do topo do botão*/
    left: 20px;/*Posição da esquerda do botão*/
    z-index:6;/*Garante que o botão fique acima do menu*/
    background-color: var(--cor-primaria);
    border: none;
    color: var(--cor-fundo);
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 24px;
    transition: all 0.3s ease;/*Transição suave para o efeito de hover e ativação*/
}
.botao-menu:hover{
    background-color: blue;
}
.botao-menu.ativo{
    left: 320px;/*Posição do botão quando o menu está ativo (deslocado para a direita)*/
}
.conteudo{

    margin-left:80px;/*Espaço para o conteúdo quando o menu está ativo*/
    padding: 40px;
    color: var(--cor-texto);
   
    transition: margin-left 0.3s ease;/*Transição suave para o efeito de deslocamento do conteúdo*/
}
.conteudo.ativo{
margin-left: 380px;/*Espaço para o conteúdo quando o menu está ativo*/
color: wheat;
}
.background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333b4;
    z-index:1;/*Garante que a imagem de fundo fique atrás do menu e do conteúdo*/
    visibility: hidden;/*Inicialmente oculta a imagem de fundo*/
    opacity: 0;/*Inicialmente transparente*/
}
.background.ativo{
    visibility: visible;/*Torna a imagem de fundo visível quando ativa*/
    opacity: 1;/*Torna a imagem de fundo opaca quando ativa*/
    transition: opacity 0.5s ease;/*Transição suave para o efeito de fade-in*/
}